extends layout

block content
  .main-container
    .content
        .content-body
            .success-text
                p Welcome to NOSQL Hands on Lab !!!
            .description
                p Your Github Automation workflow ran successfully
            .description
                p Your CosmosDB with Node.js Express app is up and running !
            .description
                img(src='/images/azureCosmosDB.svg' width="5%")/ Powered by Azure Cosmos Database
            .description
                br
                p Total visits: #{count}
