html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Segoe UI";
    src: url('../fonts/segoeuil.ttf') format('truetype');
}

.main-container {
    height: 460px;
    width: 100%;
    background-color: #0C090A;
    color: white;
    padding-top: 30px;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Segoe UI";
    padding: 80px;
    margin-bottom: 30px;
}


.success-text {
    padding-bottom: 18px;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
}

.description {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

.content {
    box-sizing: border-box;
    max-width: 450px;
    position: relative;
    margin: auto;
}


.content-body {
    min-width: 400px;
}
